<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Détection d'Applaudissements</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo.webp') }}" alt="Logo de détection d'applaudissements" id="logo" >
        <h1>ClapTrap</h1>
    </header>

    <!-- Ajout de la zone de notification -->
    <div id="notification" class="notification" style="display: none;"></div>

    <div class="content-container">
        <aside>
            <div class="accordion" id="accordionSettings">
                <div class="accordion-item">
                    <div id="collapseAudioConfig" class="accordion-collapse collapse show" aria-labelledby="headingAudioConfig" data-bs-parent="#accordionSettings">
                        <div class="accordion-body">
                            <div class="form-group audio-source-container">
                                <label for="audio_source">Source audio</label>
                                <div class="audio-source-wrapper">
                                    <select name="audio_source" id="audio_source">
                                        {% for device in devices %}
                                        <option value="{{ device['name'] }}" {% if device['name'] == settings.audio_source %}selected{% endif %}>
                                            {{ device['name'] }}
                                        </option>
                                        {% endfor %}
                                        {% for stream in flux %}
                                        <option value="{{ stream['url'] }}" {% if stream['url'] == settings.audio_source %}selected{% endif %}>
                                            {{ stream['name'] }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <button type="button" id="refresh_vban" class="refresh-button" aria-label="Rafraîchir les sources VBAN">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                                            <path d="M17.65 6.35A7.958 7.958 0 0012 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08A5.99 5.99 0 0112 18c-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="threshold">Précision (entre 0 et 1)</label>
                                <input type="text" id="threshold" name="threshold" class="form-control" value="{{ settings.get('threshold', 0.5) }}" required>
                            </div>
                            
                            <div class="form-group">
                                <label for="delay">Délai entre 2 détections (sec.)</label>
                                <input type="number" id="delay" name="delay" class="form-control" min="0" step="0.1" value="{{ settings.get('delay', 1.0) }}" required>
                            </div>
                            
                            <div class="form-group">
                                <label for="webhook_url">URL du webhook</label>
                                <input type="url" id="webhook_url" name="webhook_url" class="form-control" value="{{ settings.get('webhook_url', '') }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="control-buttons">
                <button id="startButton" class="btn btn-primary">Démarrer la détection</button>
                <button id="stopButton" class="btn btn-danger" style="display: none;">Arrêter la détection</button>
            </div>
        </aside>
        
        <main>
            <div id="detection_display"></div>
            <div id="detected_labels"></div>
        </main>
    </div>

    <footer>
        {% if debug %}
        <p><a href="#" onclick="runTests(); return false;">Exécuter les tests</a> | <a href="https://korben.info">Un projet de Korben & des Frères Poulain</a></p>
        {% else %}
        <p><a href="https://korben.info">Un projet de Korben & des Frères Poulain</a></p>
        {% endif %}
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + 16045);
        socket.on('clap', function(data) {
            document.getElementById('detection_display').innerHTML = '👏';
            setTimeout(function() {
                document.getElementById('detection_display').innerHTML = '';
            }, 200);
        });

        socket.on('labels', function(data) {
            var labelsDiv = document.getElementById('detected_labels');
            labelsDiv.innerHTML = '';
            data.detected.forEach(function(item) {
                var labelElement = document.createElement('p');
                labelElement.textContent = item.label;
                labelsDiv.appendChild(labelElement);
            });
        });
    </script>
</body>
</html>

